#buy {
  width:80px;
  height: 118px;
  display: inline-block;
  margin:5px;
}

#buy-bg {
  background-color:thistle;
  width: 80px;
  height: 118px;
  padding: 5px; 
  text-align: center;
  font-size: 20px;
}

