#fooddeck {
  width: 880px;
  height: 128px;
  margin: 5px auto;
  padding: 5px;
  background-color: lightblue;
  display:flex;
  justify-content: space-between;
}

.faceup-item {
  display: inline-block;
}