#foodcard {
  width: 80px;
  height: 118px;
  overflow:auto;
  background-color:wheat;
  text-align: left;
  padding: 5px;
  border: 1px solid black;
  border-radius: 5px;
  margin: 0px 5px;
}

#foodcard-big {
  width: 160px;
  height: 236px;
  overflow:auto;
  background-color:wheat;
  text-align: left;
  padding: 5px;
  border: 1px solid black;
  border-radius: 5px;
  margin: 0px 5px;
}

#food-compact {
  width: 100px;
  height: 30px;
  overflow:auto;
  background-color:wheat;
  text-align: left;
  padding: 5px;
  border: 1px solid black;
  border-radius: 5px;
}

.cost {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
