#hand-container {
  width: 900px;
  min-width: 900px;
  height: 128px;
  background-color: cornflowerblue;
  display: flex;
  margin: 5px;
  padding: 5px;
}

.hand-item {
  display: inline-block;
  margin: 5px;
}